/*General*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

html {
    font-family: Futura;
    height: 100%;
    color: #d3d3d3;
    background-color: #181818;
}

a {
    color: #d3d3d3;
    text-decoration: none;
}


.centered {
    text-align: center;
    margin: 0 auto;
    overflow: visible;
}


.btn {
    font-family: Futura;
    color: #333333;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 1em;
    padding: 1em;
    font-size: 1rem;
}

.deleteBtn {

    font-family: Futura;
    color: white;
    background-color: #333333;
    border-radius: 10px;
    text-align: center;
    margin: 1em;
    padding: 1em;
    font-size: 1rem;

    box-shadow: 0 5px 0 black;
}

.form {
    font-family: Futura;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}


.createLabel {
    font-size: 3rem;
    text-align: center;
    border-bottom: 4px solid rgba(255,255,255,0.3);
    margin-bottom: 10px;
}

.createInput {
    vertical-align: top;
    font-family: Futura;
    font-weight: 100;
    height: 10vh;
    width: 70vw;
    font-size: 2.5rem;
}

.btn {
    width: 20vw;
    height: 5vh;
    font-size: 3rem;
    padding: 0;
}

/*header with title*/

.header {
    width: 100vw;
    font-size: 5rem;
    background-color: #333333;
    text-shadow: 0.055em 0.055em 0 black;
}


/*Index "table" with polls*/

td {
    font-size: 3em;
}

td:first-letter {
    text-transform: uppercase;
}

.table {
    margin: 0;
    padding: 0;
    list-style-type: none;

    /*grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tableRow {
    margin: 10px;
    padding: 10px;


    /*flex*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*card*/
    background-color: #4f4f4f;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

/*card icons*/
.icon {
    margin-top: auto;
    display: flex;
    justify-content: space-between;


}

.view {
    padding: 10px 30px;
    color: white;
    margin-right: 50px;
}

.view:hover {
    color: lightGreen;
    text-shadow: 0 0 10px rgba(144, 238, 144, 0.3);

}

.trash {
    padding: 10px 30px;
    color: white;
    margin-left: 50px;
}

.trash:hover {
    color: #ff4040;
    text-shadow: 0 0 10px rgba(255, 64, 64, 0.5);
}

/*keuzes page*/
.context {
    padding: 20px;
    margin: 20px 0;
    background-color: #4f4f4f;
    color: white;

    border-radius: 10px;
}

.keuzesContainer {
    position: center;
}

.poll {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
}

.pollBtn {

    font-size: 3rem;
    color: #333333;

    border: 5px solid #333333;
    border-radius: 20px;
}

.succes {
    color: lightgreen;
}

.red {
    background-color: #f08080;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: #add8e6;
}

.yellow {
    background-color: #ffffe0;
}

/*result bar*/

.result-bar {
    margin: 10px;
    display: flex;
    height: 5vh;
    min-width: 10%;
    max-width: 98%;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 3rem;
    color: #333333;
    justify-content: center;
    align-items: center;
}

/*navigation menu*/

.nav {

    /*flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    /*positioning*/
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vw;
    padding: 10px;

    /*color*/
    color: white;
    background-color: #333333;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

    /*text*/
    font-size: 4rem;
    overflow-wrap: break-word;
}

.navBtn {
    /*padding: 10px;*/
    margin: 0 10px;
    background-color: #4f4f4f;
    box-shadow: 0 5px 0 black;
    border-radius: 10px;
}

.navLink {
    display: flex;
    width: 4em;
    justify-content: center;
    align-items: center;
}

.redText a {
    display: none;
}

.greenText a {
    display: none;
}

.blueText a {
    display: none;
}


@media only screen and (min-width: 992px) {

    .result-bar {
        margin-left: 100px;
        max-width: 90%;
        height: 10vh;
    }

    .header {
        font-size: 2rem;
        width: 100%;
    }

    .container {
        margin-left: calc(10vh);
        max-width: 80vw;
        min-height: 100%;
        overflow: visible;
        padding: 0 0px;
    }

    /*polls menu */
    thead {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

.table {
    margin-left: 10vw;
}

    .tableRow {
        font-size: 1rem;
        margin: 10px 10px;
    }

    /*navigation menu*/
    .nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        height: 100%;
        width: calc(10vh + 20px);
        left: 0;
        font-size: 1rem;

        box-shadow: none;
    }

    .navBtn {
        margin: 20px 0;
    }

    .navLink {
        height: 3em;
    }

    /*hover effects*/
    .tableRow:hover {
        transition: transform ease-in-out 0.2s;
        background-color: #737373;
        transform: translateY(-0.5em);
    }


    .redText:hover p {
        display: inline;
    }

    .greenText:hover p {
        display: inline;

    }

    .blueText:hover p {
        display: inline;

    }


    .redText:hover {

        transition: ease-in-out 0.2s;
        background-color: #454545;
        color: lightcoral;

        border-radius: 10px;

        width: 100px;
    }

    .greenText:hover {
        transition: ease-in-out 0.2s;
        background-color: #454545;
        color: lightgreen;
        text-shadow: 0 0 10px rgba(144, 238, 144, 0.3);
        border-radius: 10px;

        width: 100px;


    }

    .blueText:hover {
        transition: ease-in-out 0.2s;
        background-color: #454545;
        color: #add8e6;
        text-shadow: 0 0 10px rgba(173, 216, 230, 0.3);
        border-radius: 10px;

        width: 100px;
    }

}

